<div class="contents row">
<div class="container">
<h2>ログイン</h2>

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :メールアドレス（必須） %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（必須） %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上の半角英数字" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
