<div class="container">
<h2>編集</h2>
    <%= form_with(model: @restaurant, local: true) do |f| %>
      <%= f.label :ユーザー名（必須） %>
      <%= f.text_field :username, placeholder:"例）山田太郎" %>
      <%= f.label :来店日（必須） %>
      <%= f.date_field :day %>
      <%= f.label :来店時間 %>
      <%= f.text_field :time, placeholder:"例）12時" %>
      <%= f.label :都道府県（必須） %>
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefecture-select"}) %>
      <%= f.label :最寄駅（必須） %>
      <%= f.text_field :station, placeholder:"例）東京駅" %>
      <%= f.label :店名（必須） %>
      <%= f.text_field :name, placeholder:"例）〇〇食堂"%>
      <%= f.label :ジャンル（必須） %>
      <%= f.text_field :genre, placeholder:"例）ラーメン"%>
      <%= f.label :メニュー名（必須） %>
      <%= f.text_field :menu, placeholder:"例）特製醤油ラーメン"%>
      <%= f.label :価格（必須） %>
      <%= f.text_field :price, placeholder:"例）1000"%>
      <%= f.label :画像（必須） %>
      <%= f.file_field :image, id:"restaurant-image"%>
      <%= f.label :備考欄 %>
      <%= f.text_field :remark, placeholder:"形式（店内・テイクアウト）、メニューの特徴、店内の雰囲気など" %>
      <%= f.submit "送信" %>
    <% end %>
</div>