<div class="first-view">
<%= image_tag 'food.jpg' ,class: "top-image" %>
</div>

<h2 class="title">あなたは今日何食べましたか？</h2>
<%= search_form_for @q do |f| %>
  <%= f.search_field :station_or_genre_or_menu_cont, placeholder:"最寄駅・ジャンル・メニュー名で絞り込み", 
  class:"search-form" %>
  <%= f.submit "検索", class:"search-btn" %>
<% end %>

<div class="contents">
  <% @restaurants.each do |restaurant| %>
    <div class="contents-list">
    <%= image_tag restaurant.image.variant(resize:'200x200'), class: 'restaurant-image' if restaurant.image.attached?%>
    <p><%= link_to restaurant.day,restaurant_path(restaurant.id) %></p>
    </div>
  <% end %>
</div>

<footer>
<h2 class="title">NANITABETAとは？</h2>
<p>あなたの外食の記録を管理するアプリです</p>

</footer>


