<!DOCTYPE html>
<html>

<head>
  <title>NANITABETA</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
</head>

  <header>
  <div class="heading">
  <h1><%= link_to "NANITABETA", root_path, class: "hover" %></h1>
  </div>
  <div class="navbar">
  <ul class="nav-lists">
  <% if user_signed_in? %>
  <%= link_to current_user.username, "/users/#{current_user.id}", class: "btn" %>
  <li><%= link_to "投稿", new_restaurant_path, class: "btn" %></li>
  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn" %></li>
  <% else %>
  <li><%= link_to "新規登録", new_user_registration_path, class: "btn" %></li>
  <li><%= link_to "ログイン", new_user_session_path, class: "btn" %></li>
  <% end %>
  </div>
  </header>

<body>
  <%= yield %>
</body>

</html>
